:root{
    --nav_content_bg: #c40101;
    --content-background: #fff;
    --nav_selection-color:#fa8282;
}

*{
    margin: unset;
    padding: unset;
}

body { 
    font-family: Arial, sans-serif;
    background-color: var(--nav_content_bg);
    display: flex;
    color: #6b6969;
}


main{
    position: fixed;
    margin: 10px;
    left: 260px;
    width: 1250px;
    height: 95vh;
    border-radius: 10px;
    background: var(--content-background);
    overflow: hidden;
}

/**************************** SIDEBAR NAVIGATION START LAYOUT ***************************************** */






/**************************** SIDEBAR NAVIGATION END LAYOUT ***************************************** */


/**************************** DASHBOARD START LAYOUT ***************************************** */


.total-spend-row{
    display:flex;
    gap:300px;
     margin-left:40px;
}

.charts
{
    display:flex; 
    gap:60px; 
    margin:20px;
}



.nav-profile{
    margin: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.dashboard-report{
    padding:10px;
    margin-top:15px;
    overflow: hidden;
}

.print-dashboard-report{
    color:#ffffff; 
    font-weight: 800;
    background-color: #c40101;
    padding: .5rem;
    border-radius: 10px;
    text-decoration: none; 
}

.print-dashboard-report:hover{
    background-color: #9f0606;
}

/**************************** DASHBOARD END LAYOUT ***************************************** */